:root{
    --inactive-switch: #a0a0a0;
    --active-switch: #82ff00
}

input-switch {
    display: block;
    height: 24px;
    width: 64px;
    border-radius: 24px;
    background-color: var(--inactive-switch);
    position: relative;
    overflow: hidden;
}

input-switch input[type='checkbox']{
    visibility: hidden;
}

input-switch span{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px rgba(0,0,0,.3) inset;
}

input-switch span:before{
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 20px;
    height: 80%;
    width: 50%;
}

input-switch input[type='checkbox']:checked+span{
    background-color: var(--active-switch);
}

input-switch input[type='checkbox']:checked+span:before{
    left: 45%;
}